.container {
  margin: 30px auto;
  text-align: center;
  border: 1px solid black;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.vending_machine_text {
  font-weight: 700;
}

.current_cash {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
}

.current_product {
  margin-top: 10px;
  font-weight: 700;
}

.total_cash_test {
  margin-top: 10px;
  font-weight: 700;
}

.cash_return_button {
  margin-top: 30px;
}
